.container {
  display: flex;
  align-items: flex-start;
  gap: 8px;

  & .tag {
    color: rgba(0, 0, 0, 0.5);
    font-size: 14px;

    padding: 3px 6px;
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }

  & .no-tag {
    color: #f5222d58;
    font-size: 12px;

    padding: 3px 6px;
    border-radius: 2px;
    border: 1px solid #f5222d58;
  }
}

.limit {
  width: 600px;
  overflow-x: hidden;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 70px;
    background: linear-gradient(to right, transparent, #ffffff);
  }
}
