.container {
  display: flex;
  align-items: center;
  gap: 5px;

  margin-top: 3px;

  &:hover {
    cursor: auto;
  }

  & .filled,
  & .empty {
    font-size: 18px;

    transition:
      font-size 0.2s ease-in,
      color 0.2s ease-in;
  }

  & .empty {
    position: absolute;
    color: rgba(0, 0, 0, 0.75);
  }

  & .filled {
    position: absolute;
    color: #ff0707;
  }

  & .count {
    color: rgba(0, 0, 0, 0.75);
    padding-left: 24px;
    font-size: 14px;
  }
}

.container-hover {
  &:hover {
    & .empty,
    & .filled {
      color: #ff0707;
      font-size: 20px;
      cursor: pointer;
    }
  }
}
