.container {
  display: flex;
  flex-direction: column;

  padding: 15px 15px 25px 15px;
  box-shadow: 0px 4px 12px 0px #00000026;
  background-color: #ffffff;

  & .short {
    display: flex;
    justify-content: space-between;
    align-items: start;

    & .right {
      display: flex;
      flex-direction: column;
      align-items: end;
    }
  }

  & .content {
    display: flex;
    flex-direction: column;
    gap: 8px;

    max-width: 700px;

    & .header {
      display: flex;
      align-items: flex-start;
      gap: 15px;

      margin-top: 5px;

      & .title {
        color: #1890ff;
        font-size: 20px;
        text-align: left;

        max-width: 700px;
        word-wrap: break-word;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    & .description {
      word-wrap: break-word;
    }
  }

  & .body {
    max-height: 600px;
    word-wrap: break-word;
    overflow-y: auto;

    margin-top: 25px;

    h1 {
      font-size: 2em;
      margin-top: 0.67em;
      margin-bottom: 0.67em;
      font-weight: bold;
    }

    h2 {
      font-size: 1.5em;
      margin-top: 0.83em;
      margin-bottom: 0.83em;
      font-weight: bold;
    }

    h3 {
      font-size: 1.17em;
      margin-top: 1em;
      margin-bottom: 1em;
      font-weight: bold;
    }

    p {
      margin-top: 1em;
      margin-bottom: 1em;
    }

    ul {
      list-style-type: disc;
      margin-top: 1em;
      margin-bottom: 1em;
      padding-left: 40px;
    }

    li {
      display: list-item;
    }

    &::-webkit-scrollbar {
      width: 10px;
    }

    &::-webkit-scrollbar-track {
      border-radius: 5px;
      background-color: rgba(0, 0, 0, 0.063);
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 5px;
      box-shadow: inset 0 0 6px #1890ff;
    }
  }

  & .no-content {
    color: #f5222d58;
  }
}
